.page-container {
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}

.canvas-options {
  position: absolute;
  top: 30vh;
  right: 1vw;
  z-index: 2;
  max-width: 20vw;
  min-width: 100px;

  button {
    text-align: center;
  }

  .color-input {
    width: 100%;
  }
}

.shared-canvas {
  position: absolute;
  top: 30vh;
  left: 1vw;
  z-index: 2;
  cursor: pointer;
}

@media (max-width: 767px) {
  .shared-canvas {
    top: unset;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
