<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid" *ngIf="signedInUser | async as user">
    <a class="navbar-brand" href="#">{{ user.email }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <form class="d-flex">
        <button class="btn btn-sm btn-danger" (click)="signout()"> Signout</button>
      </form>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="btn-group p-2">
    <h5 class="px-4">Controls</h5>
    <label for="imagechange" class="btn btn-sm btn-light mb-0"> Insert Image</label>
    <input type="file" (change)="imageInputChanges($event)" accept="image/*"  class="d-none" name="imagechange" id="imagechange">
    <button type="button" class="btn btn-sm btn-light" (click)="clearCanvas()">Clear Canvas</button>
    <input type="color" [(ngModel)]="color" (change)="changeColor()">
  </div>
  <hr>
  <div>

    <h5 class="px-4">Canvas</h5>
  </div>
</div>
<div style="text-align: -webkit-center;">
  <canvas id="canvas" style="border: 1px solid lightgray;box-sizing: border-box;"></canvas>
</div>